@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi-Variable";
  src: url(/src/assets/fonts/Satoshi-Variable.ttf);
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: rgba(23, 23, 23);
  font-family: Satoshi-Variable;
}

#navbar.active {
  top: -11em;
  padding: 2.5em 0 0;
  transition: 0.7s ease-in-out;
}

.resume {
  animation: resume 1.3s ease-in-out infinite;
  transition: all 0.15s ease-in-out;
}

@keyframes resume {
  0% {
    translate: 0;
  }
  50% {
    translate: 0.5rem;
  }
  75% {
    translate: 0;
  }
  100% {
    translate: 0;
  }
}
