@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: rota;
  src: url(/src/assets/fonts/Rota-Regular.otf);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgba(23, 23, 23);
  font-family: rota;
}

#navbar.active {
  top: 80px;
  transition: 0.5s ease-in-out
}
